<!-- <nav id="desktop-nav">
  <div class="logo">Brayan Delgado</div>

  <div>
    <ul class="nav-links">
      <li><a href="#about">About</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</nav>

<nav id="mobile-nav">
  <div class="logo">
    Brayan Delgado
  </div>
  <div class="mobile-menu">
    <div class="mobile-icon" (click)="toggleMenu()" #mobileIcon>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="menu-links" #menuLinks>
      <li><a href="#about" (click)="toggleMenu()">About</a></li>
      <li><a href="#projects" (click)="toggleMenu()">Projects</a></li>
      <li><a href="#skills" (click)="toggleMenu()">Skills</a></li>
      <li><a href="#contact" (click)="toggleMenu()">Contact</a></li>
  </div>
</nav>

-->
<app-navbar></app-navbar>