/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";



/*html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85, 85, 85);
}

a, .btn{
    transition: all 300ms ease;
}
*/
